{% extends 'ctl-base.html' %}

{% block styles %}

<link href="/static/demo_table.css" rel="stylesheet" type="text/css"/>

{% end block %}

{% block section_content %}


<div class="col_parent">
  <div class="half">
    <h2>
      All lists on <span class="mono">lists.cleartrip.com</span>
    </h2>

    <table id="view_lists_table" name="view_lists_table" class="display">
      <thead>
	<tr>
	  <th> List Name </th>
	  <th> Description </th>
	  <th> Action </th>
	</tr>
      </thead>

      <tbody>
	{% for list in lists %}
	{% set sub = list['subscribed'] %}
	<tr>
	  <td> {{ list['real_name'] }} </td>
	  <td> {{ list['description'] }} </td>
	  <td class="clickable">
	    {% if sub %}
	    Unsubscribe
	    {% else %}
	    Subscribe
	    {% end %}
	  </td>
	</tr>
	{% end %}
      </tbody>
    </table>
  </div>

  <div id="vl" class="half">
    <!-- data will be added here dynamically from our javascript code -->

    {% if vl_ln %}
      <h2 id="vl_name">
	List Name: <span class="mono"> {{ vl_ln }} </span>
      </h2>
      
      <div id="vl_archives">
        <a href="{{ vl_archives }}">View List Archives </a>
      </div>
      
      <div id="vl_bd">
        <label>Brief Description: </label>
        {{ vl_bd }}
      </div>
      
      <div id="vl_dd">
        <label>Detailed Description: </label>
        {{ vl_dd }}
      </div>
      
      <div id="vl_roster">
        <label>Subscribed folks: </label>
        <ul>
          {% for member in vl_roster %}
            <li> {{ member }} </li>
          {% end %}
        </ul>
      </div>  <!-- #vl_roster -->
    {% end %}
  </div> <!-- #vl -->

</div>

{% end block %}
