{% extends 'ctl-base.html' %}

{% block styles %}
<link href="/static/demo_table.css" rel="stylesheet" type="text/css"/>
{% end block %}

{% block section_content %}


<div>
  <div class="inbl">
    <h2>
      All lists on <span class="mono">lists.cleartrip.com</span>
    </h2>
    Click on the list name to view details of list including currently
    subscribed members. <p/>

    <table id="view_lists_table" name="view_lists_table" class="display"
       width="100%">
      <thead>
	<tr valign="top">
	  <th> List Name </th>
	  <th> Description </th>
	  <th> Owners </th>
	  <th> Private </th>
	  <th> Action </th>
	</tr>
      </thead>

      <tbody>
	{% for list in lists %}
	{% set sub = list['subscribed'] %}
	<tr valign="top">
	  <td class="clickable view"> {{ list['real_name'] }} </td>
	  <td> {{ list['description'] }} </td>
	  <td> <a href="mailto:{{list['owner-email']}}"> {{ list['owners'] }}
	    </a> </td>
	  <td> {{ "Yes" if not list['advertised'] else "" }} </td>
	  <td class="clickable subscribe">
	    {% if sub %}
	    Leave
	    {% else %}
	    Join
	    {% end %}
	  </td>
	</tr>
	{% end %}
      </tbody>
    </table>
  </div>


  <div id="vl">
    <!-- data will be added here dynamically from our javascript code -->

    {% if vl_ln %}
    <br/>
    <hr/>
    <p/>
    <table>
      <tr valign="top"> 
	<td class="right"> <h2> List Name: </h2>  </td>
	<td> <h2 class="mono" id="vl_name"> {{ vl_ln }} </h2> </td>
      </tr>
      
      <tr valign="top"> 
	<td class="right"> <label> Mailing address: </label>  </td>
	<td> 
	  <div class="mono" id="vl_addr"> 
	    <a href="mailto:{{ vl_ln }}@lists.cleartrip.com">
	      {{ vl_ln }}@lists.cleartrip.com
	    </a>
	  </div> 
	</td>
      </tr>

      <tr valign="top"> 
	<td class="right"> <label> List Owner(s): </label>  </td>
	<td> 
	  <div class="mono" id="vl_owners_email"> 
	    <a href="mailto:{{ vl_owners_email }}">
	      {{ vl_owners }}
	    </a>
	  </div> 
	</td>
      </tr>

      <tr valign="top">
	<td class="right"> <label> List Archives: <label> </td>
	<td> 
	  <div id="vl_archives"> 
	    <a href="{{ vl_archives }}"> {{ vl_archives }} </a>
	  </div>
	</td>
      </tr>
      
      <tr valign="top">
	<td class="right"> <label>Brief Description: </label>  </td>
	<td> 
	  <div id="vl_bd">
	    {% if vl_bd %}
	      {{ vl_bd }} 
	    {% else %}
	      Not Available
	    {% end %}
	  </div> 
	</td>
      </tr>
      
      <tr valign="top">
	<td class="right"> <label>Detailed Description: </label> </td>
	<td> 
	  <div id="vl_dd"> 
	    {% if vl_dd %}
	      {{ vl_dd }} 
	    {% else %}
	      Not Available
	    {% end %}
	</div>   </td>
      </tr>
      
      <tr valign="top">
	<td class="right"> <label>Subscriber Count: </label> </td>
	<td> {{ len(vl_roster) }} </td>
      </tr>

      <tr valign="top">
	<td class="right"> <label>Subscriber List: </label> </td>
	<td> 
	  <div id="vl_roster">
            <ol>
              {% for member in vl_roster %}
              <li class="nopad"> {{ member }} </li>
              {% end %}
            </ol>
	  </div>  <!-- #vl_roster -->
	</td>
      </tr>
    </table>
    {% end %}
  </div> <!-- #vl -->
</div>

{% end block %}
