{% extends 'ctl-base.html' %}

{% block styles %}
<link href="/static/demo_table.css" rel="stylesheet" type="text/css"/>
{% end block %}

{% block scripts %}
{% end block %}

{% block section_content %}

<!-- lc_* is a short form for list_create* -->

{% if action_taken %}
  <div class="notice">
    List <strong> {{ create_ln }} </strong> {{ create_status }}
  </div>
{% end %}

<div class="col_parent">
  <div class="half">
    {% if len(lists) == 0 %}
      <h2> You do not manage any lists on this server, yet. </h2>
    {% else %}
      <h2>
        Lists you manage on <span class="mono">lists.cleartrip.com</span>
      </h2>
      Click on the list name to edit list configuration.<p/>

    <table id="lists_admin_table" name="lists_admin_table" class="display">
      <thead>
        <tr>
          <th> List Name </th>
          <th> Description </th>
        </tr>
      </thead>

      <tbody>
        {% for list in lists %}
        <tr>
          <td class="clickable admin"> {{ list['real_name'] }} </td>
          <td> {{ list['description'] }} </td>
        </tr>
        {% end %}
      </tbody>
    </table>
    {% end %}    

    <div style="display: block; position:relative">
      <br/><hr/>
      Click <label> <span id="lc_create_action" class="clickable">here</span>
      </label> to create a new list<p/>
    </div>

  </div>

  {% if not list_to_edit and not lc_empty_form %}
    {% set cl="'hidden'" %}
  {% else %}
    {% set cl="half" %}
  {% end %} <!-- if list_to_edit -->

  <div class= {{ cl }}>

  <form id="lc_form" method="POST" >
    <h2>Edit List Configuration/Details</h2>
    <input name="lc_submit" class="control_label" type="submit" 
           value={{ "Save" if list_to_edit else "Create" }} />

  <p/>
  <hr/>
    
  <table>
    <tr valign="top">
      <div class="form_data">
      <td class="right vtalign"> 
        <label>List Name <span class="reqd_field">*</span></label>
      </td>
      <td> <input type="text" id="lc_name" name="lc_name"
                  {% if list_to_edit %}
                  value={{ list_to_edit.real_name }}
		  readonly="readonly"
                  {% else %}
                  placeholder="No spaces or special characters."
                  {% end %}
                  /> 
      </td>
      </div> <!-- .form_data -->
    </tr>

    <tr valign="top">
      <div class="form_data">
        <td class="right vtalign"> 
          <label>Brief Description
            <span class="reqd_field">*</span>
          </label> 
        </td>
        <td> <input type="text" id="lc_desc" name="lc_desc"
                    {% if list_to_edit %}
                    value=" {{ list_to_edit.description }} "
                    {% end %}
                    /> 
        </td>
      </div> <!-- .form_data -->
    </tr>
  
    <tr valign="top">
      <div class="form_data">
        <td class="right vtalign"> <label>Detailed Description</label> </td>
        <td> 
          <textarea id="lc_info" name="lc_info"> 
            {% if list_to_edit %}
              {{ list_to_edit.info }}
            {% end %}
          </textarea> 
        </td>
      </div> <!-- .form_data -->
    </tr>
  
    <tr valign="top">
      <div class="form_data">
        <td class="right vtalign"> <label>Welcome Message</label> </td>
        <td> 
          <textarea id="lc_welcome" name="lc_welcome"> 
            {% if list_to_edit %}
              {{ list_to_edit.welcome_msg }}
            {% end %}
          </textarea> 
        </td>
      </div> <!-- .form_data -->
    </tr>
  
    <tr valign="top">
      <div class="form_data">
        <td class="right vtalign"> <label>List Members</label> </td>
        <td>
          <div id="lc_members">
            {% if list_to_edit %}
              {% set members = list_to_edit.getRegularMemberKeys() %}
              {% for i, member in enumerate(members) %}
                {% set tag = "lc_member_%d" % i %}
                <input type="text" id={{ tag }} name={{ tag }}
                       class="lc_members" value=" {{ member }} "/>
              {% end %}
            
            {% else %}
              <input type="text" id="lc_member_1" name="lc_member_1"
                     class="lc_members" value=" {{ curr_user }} "/>
            {% end %}
          </div>
          <label>
            <a id="lc_member_add_new">Insert Another</a>
          </label>
        </td>
      </div> <!-- .form_data -->
    </tr>
  </table>

 <p/>
  <hr/>
  
  <!--
      <input name="lc_submit" class="control_label" type="submit"
             value="Create"/>
      -->

  </form>
  </div>

{% end block %}
